.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Example of Showcat*/
:root {
  --primary-color: rgba(13, 110, 139, 0.75);
  --overlay-color: rgba(24, 39, 51 , 0.85);
  --menu-speed: 0.75s;
}

html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  /* background-color: #8648A3; */
  background-color: whitesmoke;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.container {
  margin: 0 auto;
  max-width: 90%;
  padding: 5px;
 
}


/* .wrapper {
  display:flex;
  max-width:70%;
  justify-content: flex-end;
} */
.title{
  font-family: 'Happy Monkey', cursive, 'Helvetica Neue',
  sans-serif;
  color: #FFEB11;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}

p {
  font-family: 'Happy Monkey', cursive;
  color:  black;
  font-size: 1.5rem;
  text-align: left;
}

#navbar {
  position: absolute;
  right: 12px;
  top: -10px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-top: 1rem;
}

.navlink {
  padding: 1rem;
  margin-bottom: 1rem;
 
}

.navlink li {
  display: inline-block;
 
 
}

.navlink a {
  color: black;
  padding-left: 2rem;
  font-size: 2rem;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 1rem;

}
#startShow  {
  font-size: 1.5rem;
  line-height: 1;
  position: relative;
  animation: heading;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

@keyframes heading {
  0%   {left: -1000px;}
  25% { left: 300px}
  50% {left: -300px;}
  100% {left: 0px;}
}


.btn {
  display: inline-block;
  border: none;
  background: var(--primary-color);
  color: black;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  transition: opacity 0.5s ease-in-out;
  text-decoration: none;
  margin-right:1rem;
}

.btn:hover {
  opacity: 0.8;
  color: #FFEB11;
}


.showlist {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
 
}

.image {
  width:  300px;
  height: 300px;
  object-fit: cover;
  margin: 0.5rem;
}


@media (max-width: 992px) {
  .showlist {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media (max-width: 600px) {

  .title {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 0.7rem;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  .showlist {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }

 
.image {
  width:  300px;
  height: 300px;
  object-fit: cover;
  margin: 0.3rem;
}


.btn {
  display: inline-block;
  border: none;
  background: var(--primary-color);
  color: black;
  padding: 0.5rem 0.5rem;
  transition: opacity 0.5s ease-in-out;
  text-decoration: none;
  margin-right:0.5rem;
  margin-bottom:1rem;
}

.btn-refresh {
  opacity: 1;
}

#navbar {
  position: absolute;
  right: 1px;
  top: -20px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-top: 1rem;
}

}

/*ShowPets*/
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container {
  margin: 0 auto;
 
  max-width: 80%;
  padding: 0rem;
 
}

 
nav {
  display: flex;
  padding: 0.5rem;
  margin-bottom:0.2rem;
  align-items: center;
 
}
nav a {
  padding: 0.5rem;
  color:black;
  text-decoration:none;
  font-weight: 800;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: whitesmoke;
}





.hero {
  width: 100%;
  background-color: lightslategray;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
}

.clogo{
  font-family: arial;
  color:white;
  font-size: 30px;
  cursor:pointer;
}

nav{
  display:flex;
  font-family:arial;
  align-items: center;
  justify-content: center;
  cursor:pointer;
  margin-right:50px;
}

.container .btn
{
  width:200px;
  height:50px;
  border-radius: 10px;
  font-size: 18px;
  border:none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color:#30d300;
}

nav ul li{
  list-style-type: none;
  display: inline-block;
  padding: 10px 10px;
}

nav ul li a{
  color:black;
  text-decoration:none;
  font-weight: bold;
}

nav ul li a:hover{
  color:rgba(13, 110, 139, 0.75)

}
span{
  color:#61dafb;
  transition: .3s;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.img{
  transition: 0.5s;
  width: 35%;
  height: 35%;
  object-fit: cover;
  cursor: pointer;
  border-radius: 15px;
}
.PetItem{
  background-color: antiquewhite;
  text-align: center;
}

.des{
  width: 30%;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  font-size: 20px;
  object-fit: cover;
  text-decoration: none;
  text-align: center;
  box-shadow: 3px 3px 5px 6px #fff;
  border-radius: 15px;
  
}

.w1{
  font-size: 30px;
  font-style:inherit;
  font-weight: bold;
  font-family:'Times New Roman', Times, serif
}

.home{
  margin: 30px auto;
  box-shadow: 3px 3px 5px 6px #ccc;
  border-radius: 15px;
  height: 100vh;
  width: 92%;
  background-image: url("https://image.cnbcfm.com/api/v1/image/105992231-1561667465295gettyimages-521697453.jpeg?v=1561667497");
  background-position: top;
  background-size:  100%;
  background-repeat: no-repeat;
  background-origin: padding-box;
  padding: 30px;
}
footer {
  background-color:lightslategray;
  color: white;
  padding: 10px 0;
}

footer p {
  font-size: 13px;
  opacity: 0.6;
  font-weight: 300;
  letter-spacing: 1px;
}
footer .icon i {
  color: black;
  gap:1.0rem;
}

.bottom {
  align-items: center;
  text-align: center;
  padding: 10px;
  color: white;
}
.bottom p {
  opacity: 0.5;
}
@media screen and (max-width: 768px) {
  footer .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.adopt{
  width: 60%;
    text-align: center;
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: auto;
    background-color: blanchedalmond;
    box-shadow: 0.8rem 3rem;
    padding: 30px;
  }

  .primary-btn{
    width:100px;
    align-items: center;
    text-align: center;
  }